@{
ViewData["Title"] = "Dokumentacja";
}

<div class="content container-fluid p-5">
    <!-- Rząd Dokumentacja -->
    <div class="row mb-4">
        <div class="col-12">
            <div class="card p-3">
            
                <div class="card-body">
                    <h2 class="mb-3">Dodawanie nowego wpisu</h2>

                    <p>
                        Poniżej przedstawiono przykład użycia formularza do dodawania nowego wpisu budżetowego. 
                        Formularz zawiera pola: kategoria, data, kwota i notatka. Dane po zapisaniu trafiają do tabeli.
                    </p>

                    <pre class="bg-light p-3 rounded"><code class="language-html">
&lt;form&gt;
  &lt;input type="date" /&gt;
  &lt;input type="text" placeholder="Kwota" /&gt;
  &lt;input type="text" placeholder="Notatka" /&gt;
  &lt;button type="submit"&gt;Zapisz&lt;/button&gt;
&lt;/form&gt;
                </code></pre>

                    <div class="mb-4">
                        <img src="https://via.placeholder.com/800x300" class="img-fluid rounded" alt="Przykładowy zrzut ekranu">
                    </div>
                    <hr class="pb-5">
				
                    <h2 class="mb-3">Dodawanie nowego wpisu</h2>

                    <p>
                        Poniżej przedstawiono przykład użycia formularza do dodawania nowego wpisu budżetowego. 
                        Formularz zawiera pola: kategoria, data, kwota i notatka. Dane po zapisaniu trafiają do tabeli.
                    </p>

                    <pre class="bg-light p-3 rounded"><code class="language-html">
&lt;form&gt;
  &lt;input type="date" /&gt;
  &lt;input type="text" placeholder="Kwota" /&gt;
  &lt;input type="text" placeholder="Notatka" /&gt;
  &lt;button type="submit"&gt;Zapisz&lt;/button&gt;
&lt;/form&gt;
                </code></pre>

                    <div class="mb-4">
                        <img src="https://via.placeholder.com/800x300" class="img-fluid rounded" alt="Przykładowy zrzut ekranu">
                    </div>
                    <hr class="pb-5">
				
                </div>
            </div>
        </div>
    </div>

	
</div>
